.body {
    text-align: center;
}

.main-text {
    font-weight: 100;
    font-size: 30px !important;
    text-align: center;
    padding: 20px;
}

.form {
    padding: 20px;
}

.button {
    padding: 20px;
}